<div class="container">
	<h1>Apuntes</h1>
	<div class="row well">
		<select
			ng-model="cei.subject"
			class="form-control"
			ng-change="cei.getNotes(cei.subject)"
			ng-options="subject.name group by subject.career.name for subject in cei.subjects track by subject.id"
			title="Materias">
			<option value="" disabled>Seleccione Materia</option>
		</select>
	</div>
	<div class="row">
		<div ng-show="cei.subject && !cei.haveNotes(cei.subject)">
			<div class="alert alert-info">No hay Apuntes</div>
		</div>
		<div ng-show="cei.subject && cei.haveNotes(cei.subject)" class='panel panel-default'>
			<table class="table table-striped">
				<tr>
					<th class="note-name">Nombre:</th>
					<th class="note-type">Tipo:</th>
					<th class="download">Descarga</td>
				</tr>
				<tr ng-repeat="note in cei.notes[cei.subject.id]">
					<td>{{note.name}}</td>
					<td>{{note.ext}}</td>
					<td>
						<a href="{{cei.backend}}/Apunte?id={{note.id}}">
							<download-label></download-label>
						</a>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>
